@font-face {
    font-family: Afacad;
    src: url(../assets/fonts/Afacad/Afacad-VariableFont_wght.ttf);
}

*{
    font-family: Afacad;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: #121212;
}

main {
    color: whitesmoke;
}

.sidebar{
    background: #1b2024;
    position: sticky;
    top: 0;
}

.navbar {
    padding: 10px 0 10px 30px;
}

.logo-nav{
    font-size: large;
    cursor: pointer;
}

.item {
    margin: 5px;
}

.item a, .item i {
    text-decoration: none;
    color: whitesmoke;
}

.item a:hover{
    color:#93c1cf;
}

header {
    padding: 10px 0 10px 30px;
}

.searchBar, .buttonSignin, .buttonLogin{
    border-radius: 8px;
    padding: 6px;
    border-style: none;
}

.searchBar{
    background: transparent;
    width: 500px;
    color: whitesmoke;
    font-size: medium;
}

.searchBar:focus{
    outline: none;
}

.userButtons {
    margin: 6px;
}

.buttonSignin, .buttonLogin{
    cursor: pointer;
    font-weight: bolder;
    background: #93c1cf;
    color: #1b2024;
}

.buttonSignin:hover, .buttonLogin:hover{
    background: #a4d7e7;
}

section {
    margin: 40px;
}

.heading {
    color: #93c1cf;
}

.review-1, .review-2, .review-3 {
    margin-top: 40px;
    background: #17191a;
    padding: 20px;
    border-radius: 10px;
}

.section-right {
    margin-top: 15px;
}

.section-left img {
    height: 150px;
    width: 150px;
}

.icons img {
    height: 20px;
    width: 20px;
}

br+p:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer {
    padding: 10px 0 10px 30px;
    background: #17191a;
}

footer ul{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: whitesmoke;
}